
.navDecoration {
    list-style: none;
    display: inline-flex;
    text-align: center;
    justify-self: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

.buttons {
    width: 160px;
    height: 35px;
    background-color: #115173;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    text-align: center;    
    display: flex;
    margin-bottom: 10px;
}

.aCenter {
    margin: auto;
    color:white;
    text-decoration: none;
}