.applicationContainer {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
    border: 1px solid white;
    border-radius: 15px;
}

.applicationNav {
    border-right: 1px solid white;
}