.applicationName {
    color: white;
    text-decoration: none;
    font-size: 32px;
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    text-align: center;
    margin: 5px;
}

    