.sideNav {
    width: 200px;
    height: 100vh;
    display: flex;
    background-color: #053F5E;
    justify-content: center;
    align-content: center;
    float: left;
}

.navDecoration {
    list-style: none;
    display: inline-flex;
    text-align: center;
    justify-self: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.image {
    border: 1px solid white;
    border-radius: 32px;
    margin-top: 40px;
}