.sideNav {
    width: 200px;
    height: 100vh;
    display: flex;
    background-color: #053F5E;
    align-content: center;
    float: left;
    flex-direction: column;
}

.navDecoration {
    list-style: none;
    display: inline-flex;
    text-align: center;
    justify-self: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.bottomFlex {
    list-style: none;
    text-align: center;
    justify-self: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0px;
    position: absolute;
    align-self: center;
}


.image {
    border: 1px solid white;
    border-radius: 32px;
    margin-top: 40px;
}

.buttons {
    width: 160px;
    height: 35px;
    background-color: #115173;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    text-align: center;    
    display: flex;
    margin-bottom: 10px;
}

.aCenter {
    margin: auto;
}