.applicationRow {
    display: flex;
}

.applicationName {
    width: 100%;
    margin: 5px;
    height: 20px;
}

.toggleButton {
    margin: 5px;
}

.applicationFieldSet {
    padding-inline-end: 1.25em;
    border: 1px solid white;
    margin: 10px;
    width: 85%;
    border-radius: 10px;
}