.applicationRow {
    display: flex;
}

.applicationName {
    width: 100%;
    margin: 5px;
    height: 20px;
    padding: 5px;
}

.toggleButton {
    margin: 5px;
}

.applicationNameFieldSet {
    padding-inline-end: 2em;
    padding-inline-start: 0.55em;
    border: 1px solid white;
    margin: 10px 10px 10px 15px;
    width: 85%;
    border-radius: 10px;
}

.applicationEnabledFieldSet {
    padding-inline-end: 0.55em;
    padding-inline-start: 0.55em;
    border: 1px solid white;
    margin: 10px 15px 10px 10px;
    width: auto;
    border-radius: 10px;
}

.applicationQuestionFieldSet {
    margin: 15px;
    border: 1px solid white;
    border-radius: 15px;
}

.applicationQuestionUL {
    list-style: none;
}

.applicationQuestionInput {
    font-size: 18px;
    width: 90%;
    margin-bottom: 5px; 
}
.applicationQuestionButton {
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 5px; 
    border-radius: 10px;
    border: 1px solid white;
    background: #115173;
    color: white;

}

.radioGroup {
    padding-right: 15px;
}