.guildsMain {
    width: 235px;
    height: 235px;
    background-color: #053F5E;
    display: flex;
    justify-content: center;
    margin: 15px;
    border: 1px solid white;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
}

.guildsIcon { 
    border: 1px solid white;
    border-radius: 30px;
    margin: 12px;
    align-self: center;
}

.selectLink {
    background-color: #115173;
    width: 120px;
    height: 30px;
}

.buttonDiv {
    display: flex;
    text-align: center;
}